.wrap{
	position:relative;
	width:520px;
	height:280px;
	overflow-x: scroll;
	overflow: hidden;/*将后面内容隐藏*/
	/*float:left;*/
	/*margin:auto ;*/
}
.wrap2{
	position:relative;
	width:520px;
	height:230px;
	overflow-x: scroll;
	overflow: hidden;/*将后面内容隐藏*/
	/*float:left;*/
	/*margin:auto ;*/
}
.list{
	width:4200px;
	height:280px;
	position: absolute;
	z-index: 1;
}
.list img{
	float: left;
}
.list2{
	width:4200px;
	height:202px;
	position: absolute;
	z-index: 1;
}
.list2 img{
	float: left;
}
.circle,.circle2{
	height: 10px;
	position: absolute;
	bottom:20px;
	left:222px;
	z-index: 2;
}
.circle span,.circle2 span{
	width:10px;
	height:10px;
	background: #888;
	border:1px solid #fff;
	border-radius:50%;
	float:left;
	cursor:pointer;
	margin-right:5px;
}
.circle .on,.circle2 .on{
	background: orangered;
}
.button{
	display: none;
	width:40px;
	height:40px;
	background: rgba(0,0,0,.3);
	text-align: center;
	line-height: 38px;
	cursor: pointer;
	font:bold 26px "Microsoft YaHei";
	color:#fff;
	position: absolute;
	top:120px;
	z-index:3;
}
.button:hover{
	background: rgba(0,0,0,.7);
}
.wrap:hover .button{
	display: block;
}
.wrap2:hover .button{
	display: block;
}
#prev,#prev2{
	left:0px;
}
#next,#next2{
	right:0px;
}